@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #MainDiv{
        position:absolute;
        z-index: 9;
        background-color: #f1f1f1;
        border: 1px solid #d3d3de;
        text-align: center;
    }

    #DivCursor{
        padding: 10px;
        cursor:move;
        z-index:10;
        background-color: #2196f3;
        color: #fff;
    }
</style>


<div id="MainDiv" class="text-center">
    <div id="DivCursor">
        Click me and move me!!
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>